# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dev.local.env

# turbo
.turbo

# vercel
.vercel

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode
.vscode/

# Flyio
.flyio/
fly.toml
fedora-notes.md

# Local deployment
redis_data

.workspace.env
platform_postgres
load_test2/.venv
prometheus_multiproc
.direnv


workspace-secrets.env
platform-secrets.env
platform_redis
workspace_redis_data
content/invlectrooms/
