export OPENAI_API_KEY=
export NEXTAUTH_SECRET=
export OIDC_CLIENT_ID=sokrates
export OIDC_CLIENT_SECRET=d5GWth6ECdJ8KYXTyy9oCJDe1c3YVGep
export OIDC_SOKRATES_CALLBACK=https://sokrates.hpi.de/api/auth/hpi/callback
export OIDC_ENDPOINT=https://keycloak.hpi.de/realms/hpi/.well-known/openid-configuration
export OPEN_ID_CONFIG_JSON_PATH=
