export OPENAI_API_KEY=
export NEXTAUTH_SECRET=
export LEARNHOUSE_KEYCLOAK_ISSUER=
export LEARNHOUSE_KEYCLOAK_CLIENT_ID=
export LEARNHOUSE_KEYCLOAK_CLIENT_SECRET=
export LEARNHOUSE_KEYCLOAK_ID_TOKEN_ALG=
